.header {
    background-color: #ffffff;
    border-style: solid;
    border-color: #cccccc;
    margin: 0;
}

#container {
    width: 960px;
    border-style: solid;
    border-color: #dddddd

}

#about-me {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#pic {
    float: left;
    margin: 2%;
    clear: right;
}

p {
    float: left;
}

.your-name {
    background-color: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    width: 220px;
    margin-left: 15%;
    float: left;
}

.about {
    float: right;
    position: absolute;
    right: 25%
}

.portfolio {
    float: right;
    position: absolute;
    right: 30%;
}

.contact {
    float: right;
    position: absolute;
    right: 35%;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    clear: auto;
  }